@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body{
    background-color: rgb(223, 223, 223);
}
.container{
    width: 1024px;
}
header{
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
}
.logo a{
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-weight: bold;
}
.logo a:hover{
    color: rgb(167, 167, 167);
    transition: 0.4s;
}
main{
    display: flex;
    justify-content: center;
}
.border{
    border: 1px solid black;
    margin-top: 30px;
    width: 430px;
    padding: 0 20px;
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-weight: 500;
    font-size: 19px;
}
label{
    font-size: 13px;
}
.nasc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nasc input{
    margin-top: 9px;
}
.nasc label{
    margin-right: 10px;
}
.formulario input{
    margin-bottom: 10px;
    width: 100%;
    padding: 2px 32px 2px 6px;
}
.formulario select{
    margin-bottom: 10px;
}
input[type="button"],
input[type="reset"]{
    font-size: 14px;
    padding: 8px 12px;
    background-color: aqua;
    border-color: aqua;
    cursor: pointer;
}
footer{
    display: flex;
    justify-content: center;
}
.rodape{
    display: flex;
    justify-content: center;
    margin: 30px 30px;
    font-size: 12px;
}